@import "generals";

footer{
    background-color: $portfolio_background;
    div{
        background-color: $portfolio_background;
        width: 100%;
        .links{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            .logo_img{
                max-width: 100%;
                width: auto;
                margin: 0 auto;
                background-color: $portfolio_background;
            }
            p{
                font-size: 1em;
                background-color: $portfolio_background;
            }
            .socials{
                margin: 1em auto;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $portfolio_background;
                img{
                    background-color: $portfolio_background;
                    width: 40px;
                }
            }
        }
        hr{
            width: 80%;
            margin: 0 auto;
        }
        .options_link{
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            margin: 0 auto;
            text-align: center;
            padding-top: 1em;
            color: $font_header_color;
            background-color: $portfolio_background;
            row-gap: 2em;
            a{
                text-decoration: none;
                margin: 0;
                padding: 0;
                padding: .3em 0;
                background-color: $portfolio_background;
                color: $font_header_color;
                font-size: 1.5em;
            }
        }
        .options_link a:nth-child(1) {
            grid-row: 1;
            grid-column: 1;
        }
        
        .options_link a:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
        }
        
        .options_link a:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
        }
        
        .options_link a:nth-child(4) {
        grid-row: 4;
        grid-column: 1;
        }
        
        .options_link a:nth-child(5) {
        grid-row: 1;
        grid-column: 2;
        }
        
        .options_link a:nth-child(6) {
        grid-row: 2;
        grid-column: 2;
        }
        
        .options_link a:nth-child(7) {
        grid-row: 3;
        grid-column: 2;
        }
        p{
            text-align: center;
            color: $font_header_color;
            margin: 1em;
            background-color: $portfolio_background;
            padding-bottom: 2em;
        }
    }
}

@media(min-width: $desktop){
    footer{
        div{
            .links{
                width: 40%;
                .logo_img{
                    width: 20%;
                    margin: 0 auto;
                }
                p{
                    font-size: 1em;
                }
                .socials{
                    margin: 1em auto;
                    width: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            .options_link{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 60%;
                margin: -1em auto 0 auto;
                align-items: center;
            }
        }
    }
}