/*General usage*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: baskervville;
    // background-color: #F8F6F4;
}


// colors
$header_line: #E3B6B1;
$font_header_color: #725A58;
$background: #F8F6F4;
$section_background_color: #FAE9E7;
// form colors


// sizes
$desktop: 1440px;
// font 