/*General usage*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: baskervville;
    background-color: #F8F6F4;
}

img{
    max-width: 100%;
    width: auto;
}

// colors
$header_line: #E3B6B1;
$font_header_color: #725A58;
$background: #F8F6F4;

// sizes

// font 