/*General usage*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: baskervville;
}

// colors
$header_line: #E3B6B1;
$font_header_color: #725A58;
$background: #F8F6F4;
$portfolio_background: #FAE9E7;
$section_background_color: #FAE9E7;

// sizes
$desktop: 1200px;