@import "generals";

.header{
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    height: 120px;
    align-items: center;
    margin: 0 auto;
    .menu{
        display: block;
        button{
            border: none;
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
    .header_options{
        flex-direction: column;
        width: auto;
        height: auto;
        align-content: center;
        justify-content: space-between;
        gap: 1em;
        a{
            display: none;
            border-left: 1px solid $header_line;
            width: 100%;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            border-left: 1px solid $header_line;
            color: $font_header_color;
        }
        .instagram{
            border: none;
            display: block;
            width: 40px;
            height: 40px;
            .logi_Ins{
                width: 40px;
            }
        }
        
        .border_none{
            border-left: none;
        }
    }


    .logo{
        img{
            width: 96.25px;
            height: 100px;
        }
    }
}

.list{
    display: flex;
    flex-direction: column;
    margin: -2.5em 1em 1em 1em;
    width: auto;
    a{
        width: 100px;
        text-decoration: none;
        color: $font_header_color;
        &:hover{
            background-color: darkgray;
        }
    }
}

@media(min-width: $desktop){
    .menu{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
        button{
            border: none;
            img{
                display: none; 
            }
        }
    }
    .header{
        padding: 32px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 1440px;
        height: 196px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;
        .header_options{
            display: flex;
            flex-direction: row;
            width: 460px;
            height: auto;
            align-content: center;
            justify-content: space-between;
            gap: 1em;
            a{
                display: block;
                border-left: 1px solid $header_line;
                width: 100%;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
                border-left: 1px solid $header_line;
                color: $font_header_color;
            }
            .instagram{
                border-left: 1px solid $header_line;
                width: 100%;
            }
            
            .border_none{
                border-left: none;
            }
        }
    
    
        .logo{
            li{
                img{
                    width: 126.19px;
                    height: 132px;
                }
            }
        }
    } 
}