@import 'generals';

body {
    background-color: #F8F6F4;
}

#contact {
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    margin: 0 auto;
    width: 60%;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 50px;
    color: $font_header_color;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 8px;
}
p.subtitle {
    text-align: center;
    font-size: 10px;
    font-family: Avenir;
    color: #7e6757;
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
}

/* Form Styles */
.form_container{
    background-color: $section_background_color;
    h3{
        font-size: 1.8em;
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: .3em;
    }
    .event{
        display: flex;
        flex-direction: row;
        margin: .3em 0;
        justify-content: space-evenly;
        background-color: $background;
        padding: .5em 0;
        label{
            width: 80%;
        }
    }
    .date{
        div{
            .yes_date{
                width: 100%;
                background-color: $background;
                padding: .5em 0;
                border: none;
            }
            .no_date{
                display: flex;
                flex-direction: row;
                label{
                    margin-left: 0.5em;
                }
            }
        }
    }
    .event_time{
        select{
            width: 100%;
        }
        .no_date{
            display: flex;
            flex-direction: row;
            label{
                margin-left: 0.5em;
            }
        }
    }
    .personal_info{
        button{
            width: 100%;
        }
    }
}